contrib/demos/bigbank-account/src/main/resources/wsdl/AccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Licensed to the Apache Software Foundation (ASF) under one
   or more contributor license agreements.  See the NOTICE file
   distributed with this work for additional information
   regarding copyright ownership.  The ASF licenses this file
   to you under the Apache License, Version 2.0 (the
   "License"); you may not use this file except in compliance
   with the License.  You may obtain a copy of the License at
   
     http://www.apache.org/licenses/LICENSE-2.0
     
   Unless required by applicable law or agreed to in writing,
   software distributed under the License is distributed on an
   "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
   KIND, either express or implied.  See the License for the
   specific language governing permissions and limitations
   under the License.
-->

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://bigbank"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://bigbank"
	name="AccountService">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://bigbank"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<xsd:element name="getAccountReport">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customerID" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getAccountReportResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="balance" type="xsd:double" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getAccountReportRequest">
		<wsdl:part element="tns:getAccountReport"
			name="getAccountReportRequest" />
	</wsdl:message>

	<wsdl:message name="getAccountReportResponse">
		<wsdl:part element="tns:getAccountReportResponse"
			name="getAccountReportResponse" />
	</wsdl:message>

	<wsdl:portType name="AccountService">
		<wsdl:operation name="getAccountReport">
			<wsdl:input message="tns:getAccountReportRequest" />
			<wsdl:output message="tns:getAccountReportResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AccountServiceSoap" type="tns:AccountService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getAccountReport">
			<soap:operation
				soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="AccountService">
		<wsdl:port binding="tns:AccountServiceSoap"
			name="AccountServiceSoap">
			<soap:address
				location="http://localhost:8082/services/AccountWebService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
