demos/mortgage-loanapproval/src/main/resources/wsdl/credit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    * Licensed to the Apache Software Foundation (ASF) under one
    * or more contributor license agreements.  See the NOTICE file
    * distributed with this work for additional information
    * regarding copyright ownership.  The ASF licenses this file
    * to you under the Apache License, Version 2.0 (the
    * "License"); you may not use this file except in compliance
    * with the License.  You may obtain a copy of the License at
    * 
    *   http://www.apache.org/licenses/LICENSE-2.0
    * 
    * Unless required by applicable law or agreed to in writing,
    * software distributed under the License is distributed on an
    * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    * KIND, either express or implied.  See the License for the
    * specific language governing permissions and limitations
    * under the License.    
-->
<wsdl:definitions targetNamespace="http://credit" xmlns:tns="http://credit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="credit">

    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://credit" xmlns:tns="http://credit"
            xmlns="http://www.w3.org/2001/XMLSchema">

            <element name="getCreditScore">
                <complexType>
                    <sequence>
                        <element name="ssn" type="xsd:string" />
                    </sequence>
                </complexType>
            </element>

            <element name="getCreditScoreResponse">
                <complexType>
                    <sequence>
                        <element name="score" type="xsd:int" />
                    </sequence>
                </complexType>
            </element>

        </schema>
    </wsdl:types>

    <wsdl:message name="getCreditScoreRequest">
        <wsdl:part element="tns:getCreditScore" name="inputMsg" />
    </wsdl:message>

    <wsdl:message name="getCreditScoreResponse">
        <wsdl:part element="tns:getCreditScoreResponse" name="outputMsg" />
    </wsdl:message>


    <wsdl:portType name="CreditCheck">
        <wsdl:operation name="getCreditScore">
            <wsdl:input message="tns:getCreditScoreRequest" name="getCreditScoreRequest" />
            <wsdl:output message="tns:getCreditScoreResponse" name="getCreditScoreResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CreditCheckSoapBinding" type="tns:CreditCheck">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getCreditScore">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="getCreditScoreRequest">
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getCreditScoreResponse">
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CreditCheckService">
        <wsdl:port binding="tns:CreditCheckSoapBinding" name="CreditCheckSoapPort">
            <wsdlsoap:address location="http://localhost:8085/CreditCheckService" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
