modules/databinding/src/test/resources/org/apache/tuscany/sca/databinding/impl/order.wsdl

<?xml version="1.0"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<definitions name="StockQuote" targetNamespace="http://example.com/order.wsdl" xmlns:tns="http://example.com/order.wsdl"
    xmlns:xsd1="http://example.com/order.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <schema targetNamespace="http://example.com/order.xsd" xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:ipo="http://www.example.com/IPO">
            <import namespace="http://www.example.com/IPO" schemaLocation="ipo.xsd"/>
            <element name="checkOrderStatus">
                <complexType>
                    <sequence>
                        <element name="customerId" type="string" />
                        <element name="order" type="ipo:PurchaseOrderType" />
                        <element name="flag" type="int" />
                    </sequence>
                </complexType>
            </element>
            <element name="checkOrderStatusResponse">
                <complexType>
                    <sequence>
                        <element name="status" type="string" />
                    </sequence>
                </complexType>
            </element>
            <element name="note" type="string" />
        </schema>
    </types>

    <message name="CheckOrderStatusInput1">
        <part name="body" element="xsd1:checkOrderStatus" />
    </message>

    <message name="CheckOrderStatusOutput1">
        <part name="body" element="xsd1:checkOrderStatusResponse" />
    </message>

    <message name="CheckOrderStatusInput2">
        <part name="p1" element="xsd1:checkOrderStatus" />
        <part name="p2" element="xsd1:note" />
    </message>

    <message name="CheckOrderStatusOutput2">
        <part name="p1" element="xsd1:checkOrderStatusResponse" />
    </message>

    <portType name="OrderPortType">
        <operation name="checkOrderStatus">
            <input message="tns:CheckOrderStatusInput1" />
            <output message="tns:CheckOrderStatusOutput1" />
        </operation>
        <operation name="checkOrderStatus2">
            <input message="tns:CheckOrderStatusInput2" />
            <output message="tns:CheckOrderStatusOutput2" />
        </operation>
    </portType>

</definitions>