modules/binding-ws-axis2/src/test/resources/org/apache/tuscany/sca/binding/ws/axis2/itests/mtom/filetransfer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.    
-->
<wsdl:definitions 
    targetNamespace="http://filetransfer" 
    xmlns:tns="http://filetransfer" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="filetransfer">

    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://filetransfer" xmlns="http://www.w3.org/2001/XMLSchema">

            <element name="uploadFile">
                <complexType>
                    <sequence>
                        <element name="attachment" type="xsd:base64Binary"/>
                    </sequence>
                </complexType>
            </element>

            <element name="uploadFileResponse">
                <complexType>
                    <sequence>
                        <element name="uploadFileReturn" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            
        </schema>
    </wsdl:types>

    <wsdl:message name="uploadFileRequest">
        <wsdl:part element="tns:uploadFile" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="uploadFileResponse">
        <wsdl:part element="tns:uploadFileResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="FileTransfer">
        <wsdl:operation name="uploadFile">
            <wsdl:input message="tns:uploadFileRequest" name="uploadFileRequest"/>
            <wsdl:output message="tns:uploadFileResponse" name="uploadFileResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="FileTransferSoapBinding" type="tns:FileTransfer">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="uploadFile">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="uploadFileRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="uploadFileResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="FileTransferService">
        <wsdl:port binding="tns:FileTransferSoapBinding" name="FileTransferSoapPort">
            <wsdlsoap:address location="http://localhost:8085/FileTransferServiceComponent"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
