demos/alert-aggregator-webapp/src/main/resources/Alerts.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    * Licensed to the Apache Software Foundation (ASF) under one
    * or more contributor license agreements.  See the NOTICE file
    * distributed with this work for additional information
    * regarding copyright ownership.  The ASF licenses this file
    * to you under the Apache License, Version 2.0 (the
    * "License"); you may not use this file except in compliance
    * with the License.  You may obtain a copy of the License at
    *
    *   http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing,
    * software distributed under the License is distributed on an
    * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    * KIND, either express or implied.  See the License for the
    * specific language governing permissions and limitations
    * under the License.
-->
<wsdl:definitions targetNamespace="http://tuscany.apache.org/sca/demos/aggregator/service"
                  xmlns:tns="http://tuscany.apache.org/sca/demos/aggregator/service" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  name="Alerter">

    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"   
            targetNamespace="http://tuscany.apache.org/sca/demos/aggregator/service" 
            xmlns:alerter="http://tuscany.apache.org/sca/demos/aggregator/types"
            elementFormDefault="qualified">

            <xsd:import namespace="http://tuscany.apache.org/sca/demos/aggregator/types" 
                        schemaLocation="Alerts.xsd" />            

            <element name="getAllNewAlerts">
                <xsd:complexType>
                    <sequence>
                        <element name="parm" type="string" />
                    </sequence>                
                </xsd:complexType>
            </element>
            
            <element name="getAllNewAlertsResponse">
                <complexType>
                    <sequence>
                        <element name="parm" type="alerter:AlertsType" />
                    </sequence>
                </complexType>
            </element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetAllNewAlertsRequest">
        <wsdl:part element="tns:getAllNewAlerts" name="parameters" />
    </wsdl:message>
    <wsdl:message name="GetAllNewAlertsResponse">
        <wsdl:part element="tns:getAllNewAlertsResponse" name="parameters" />
    </wsdl:message>

    <wsdl:portType name="AlertsPortType">
        <wsdl:operation name="getAllNewAlerts">
            <wsdl:input message="tns:GetAllNewAlertsRequest" name="GetAllNewAlertsRequestMsg" />
            <wsdl:output message="tns:GetAllNewAlertsResponse" name="GetAllNewAlertsResponseMsg" />
        </wsdl:operation>
   </wsdl:portType>

    <wsdl:binding name="AlertsBinding" type="tns:AlertsPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getAllNewAlerts">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="GetAllNewAlertsRequestMsg">
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetAllNewAlertsResponseMsg">
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>           
    </wsdl:binding>

    <wsdl:service name="AlertsService">
        <wsdl:port name="AlertsPort" binding="tns:AlertsBinding">
            <wsdlsoap:address location="http://localhost:8080/services/AlertsServiceWebServiceBinding" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
