itest/properties/src/main/resources/customer.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.example.com/Customer" targetNamespace="http://www.example.com/Customer">

    <xsd:element name="customer" type="Customer"/>
    <xsd:complexType name="Customer">
        <xsd:sequence>
            <xsd:element name="firstName" type="xsd:string"/>
            <xsd:element name="middleName" type="xsd:string"/>
            <xsd:element ref="lastName" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
 </xsd:schema>
