tools/sdo/java2wsdl/src/test/resources/helloworld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.    
 -->
<wsdl:definitions targetNamespace="http://helloworldaxis.samples.tuscany.apache.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://helloworldaxis.samples.tuscany.apache.org" xmlns:intf="http://helloworldaxis.samples.tuscany.apache.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="stockquote">
    <!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->
    <wsdl:types>
        <schema elementFormDefault="qualified" 
        	xmlns:hello="http://helloworldaxis.samples.tuscany.apache.org" 
        	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        	targetNamespace="http://helloworldaxis.samples.tuscany.apache.org" xmlns="http://www.w3.org/2001/XMLSchema">
        	<complexType name="ComplexGreetings">
                <sequence>
                    <element name="greet1" type="xsd:string"/>
                    <element name="greet2" type="xsd:double"/>
                </sequence>
        	</complexType>
        	<element name="getGreetings">
                <complexType>
                    <sequence>
                        <element name="in0" type="xsd:string"/>
                        <element name="in1" type="xsd:double"/>
                        <element name="in2" type="hello:ComplexGreetings"/>
                    </sequence>
                    <xsd:attribute name="language" type="xsd:string"/>
                </complexType>
            </element>
            <element name="getGreetingsResponse">
                <complexType>
                    <sequence>
                        <element name="getGreetingsReturn" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="getGreetingsRequest">

        <wsdl:part element="impl:getGreetings" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="getGreetingsResponse">

        <wsdl:part element="impl:getGreetingsResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:portType name="HelloWorldServiceImpl">

        <wsdl:operation name="getGreetings">

            <wsdl:input message="impl:getGreetingsRequest" name="getGreetingsRequest"/>

            <wsdl:output message="impl:getGreetingsResponse" name="getGreetingsResponse"/>

        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="helloworldSoapBinding" type="impl:HelloWorldServiceImpl">

        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="getGreetings">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="getGreetingsRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="getGreetingsResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="HelloWorldServiceImplService">

        <wsdl:port binding="impl:helloworldSoapBinding" name="helloworld">

            <!-- Tuscany SCA Service -->
<!--
            <wsdlsoap:address location="http://localhost:8080/tuscany-samples-helloworldws-service/services/HelloWorldService"/>
-->
            <wsdlsoap:address location="http://localhost:9876/tuscany-samples-helloworldws-service/services/HelloWorldService"/>

            <!-- Axis Web Service -->
            <!--
            <wsdlsoap:address location="http://localhost:8081/helloworldaxissvc-incubating-M1/services/helloworld"/>
            -->

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
