contrib/itest/exceptions-simple-ws/src/main/resources/wsdl/ExampleService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    * Licensed to the Apache Software Foundation (ASF) under one
    * or more contributor license agreements.  See the NOTICE file
    * distributed with this work for additional information
    * regarding copyright ownership.  The ASF licenses this file
    * to you under the Apache License, Version 2.0 (the
    * "License"); you may not use this file except in compliance
    * with the License.  You may obtain a copy of the License at
    * 
    *   http://www.apache.org/licenses/LICENSE-2.0
    * 
    * Unless required by applicable law or agreed to in writing,
    * software distributed under the License is distributed on an
    * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    * KIND, either express or implied.  See the License for the
    * specific language governing permissions and limitations
    * under the License.    
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:ns0="http://example.com/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://example.com/xsd"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://example.com/">
    <wsdl:types>
        <xs:schema xmlns:ns="http://example.com/" attributeFormDefault="qualified" elementFormDefault="qualified"
            targetNamespace="http://example.com/">
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="BusinessException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BusinessException" nillable="true" type="ns1:BusinessException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hello">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="helloResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="helloRequest">
        <wsdl:part name="parameters" element="ns0:hello" />
    </wsdl:message>
    <wsdl:message name="helloResponse">
        <wsdl:part name="parameters" element="ns0:helloResponse" />
    </wsdl:message>
    <wsdl:message name="BusinessException">
        <wsdl:part name="parameters" element="ns0:BusinessException" />
    </wsdl:message>
    <wsdl:portType name="ExampleServicePortType">
        <wsdl:operation name="hello">
            <wsdl:input message="ns0:helloRequest" wsaw:Action="urn:hello" />
            <wsdl:output message="ns0:helloResponse" wsaw:Action="urn:helloResponse" />
            <wsdl:fault message="ns0:BusinessException" name="BusinessException"
                wsaw:Action="urn:helloBusinessException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ExampleServiceSOAP11Binding" type="ns0:ExampleServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="hello">
            <soap:operation soapAction="urn:hello" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BusinessException">
                <soap:fault use="literal" name="BusinessException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ExampleServiceSOAP12Binding" type="ns0:ExampleServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="hello">
            <soap12:operation soapAction="urn:hello" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BusinessException">
                <soap12:fault use="literal" name="BusinessException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ExampleServiceHttpBinding" type="ns0:ExampleServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="hello">
            <http:operation location="ExampleService/hello" />
            <wsdl:input>
                <mime:content type="text/xml" part="hello" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="hello" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ExampleService">
        <wsdl:port name="ExampleServiceSOAP11port_http" binding="ns0:ExampleServiceSOAP11Binding">
            <soap:address location="http://localhost:8085/axis2/services/ExampleService" />
        </wsdl:port>
        <wsdl:port name="ExampleServiceSOAP12port_http" binding="ns0:ExampleServiceSOAP12Binding">
            <soap12:address location="http://localhost:8085/axis2/services/ExampleService" />
        </wsdl:port>
        <wsdl:port name="ExampleServiceHttpport" binding="ns0:ExampleServiceHttpBinding">
            <http:address location="http://localhost:8085/axis2/services/ExampleService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
