bindings/binding.axis2/src/test/resources/org/apache/tuscany/binding/axis2/mediator/tests/RpcLit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 *  Copyright (c) 2005 The Apache Software Foundation or its licensors, as applicable.
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.example.org/Test/RpcLit"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Test"
                  targetNamespace="http://www.example.org/Test/RpcLit">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/Test/RpcLit"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http://www.example.org/Test/RpcLit">
            <!--
                   <xsd:element name="source" type="xsd:string"/>
                   <xsd:element name="target" type="xsd:string"/>
                   <xsd:element name="index" type="xsd:int" />
               -->
            <xsd:element name="exception" type="xsd:string"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="testRequest">
        <wsdl:part type="xsd:string" name="part1"/>
        <wsdl:part type="xsd:string" name="part2"/>
    </wsdl:message>
    <wsdl:message name="testResponse">
        <wsdl:part type="xsd:int" name="part1"/>
    </wsdl:message>
    <wsdl:message name="testFault">
        <wsdl:part name="testFault" element="tns:exception"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Test">
        <wsdl:operation name="indexOf">
            <wsdl:input name="input" message="tns:testRequest"/>
            <wsdl:output name="output" message="tns:testResponse"/>
            <wsdl:fault name="fault" message="tns:testFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TestSOAP" type="tns:Test">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="indexOf">
            <soap:operation
                    soapAction="http://www.example.org/Test/indexOf"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault namespace="http://www.example.org/Test/"
                            use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Test">
        <wsdl:port binding="tns:TestSOAP" name="TestSOAP">
            <soap:address
                    location="http://localhost:8080/TestWebServiceMediator/services/Test"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
