contrib/samples/databinding-echo/src/main/resources/wsdl/echo.wsdl

<?xml version="1.0"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.    
-->
<definitions name="StockQuote" targetNamespace="http://example.com/echo.wsdl" xmlns:tns="http://example.com/echo.wsdl"
    xmlns:xsd1="http://example.com/echo.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <schema targetNamespace="http://example.com/echo.xsd" xmlns:tns="http://example.com/echo.xsd"
            xmlns="http://www.w3.org/2001/XMLSchema">
            <complexType name="messageType">
                <sequence>
                    <element name="foo" type="string"></element>
                </sequence>
            </complexType>
            <element name="echo">
                <complexType>
                    <sequence>
                        <element name="message" type="tns:messageType" />
                    </sequence>
                </complexType>
            </element>
            <element name="echoResponse">
                <complexType>
                    <sequence>
                        <element name="message" type="tns:messageType" />
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>

    <message name="EchoInput">
        <part name="body" element="xsd1:echo" />
    </message>

    <message name="EchoOutput">
        <part name="body" element="xsd1:echoResponse" />
    </message>

    <portType name="EchoPortType">
        <operation name="echo">
            <input message="tns:EchoInput" />
            <output message="tns:EchoOutput" />
        </operation>
    </portType>

</definitions>