modules/interface-wsdl-xml/src/test/resources/org/apache/tuscany/interfacedef/wsdl/xml/test1.xsd

<schema targetNamespace="http://www.example.com/Customer" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:ipo="http://www.example.com/IPO" xmlns:tns="http://www.example.com/Customer">
    <import namespace="http://www.example.com/IPO" schemaLocation="ipo.xsd" />

    <complexType name="Customer">
        <sequence>
            <element name="customerID" type="string"></element>
            <element name="name" type="string"></element>
            <element name="order" type="ipo:PurchaseOrderType" />
        </sequence>
    </complexType>
    <element name="customer" type="tns:Customer"></element>

</schema>

