vtest/wsbinding/wsdlelement/service/src/main/resources/bservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    * Licensed to the Apache Software Foundation (ASF) under one
    * or more contributor license agreements.  See the NOTICE file
    * distributed with this work for additional information
    * regarding copyright ownership.  The ASF licenses this file
    * to you under the Apache License, Version 2.0 (the
    * "License"); you may not use this file except in compliance
    * with the License.  You may obtain a copy of the License at
    *
    *   http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing,
    * software distributed under the License is distributed on an
    * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    * KIND, either express or implied.  See the License for the
    * specific language governing permissions and limitations
    * under the License.
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://vtest.wsbinding.wsdlelement.service.bservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsdlelement" targetNamespace="http://vtest.wsbinding.wsdlelement.service.bservice" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://vtest.wsbinding.wsdlelement.service.bservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="getString">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getStringResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getString2">
      	<xsd:complexType>
      		<xsd:sequence>      			<xsd:element name="in1" type="xsd:string"></xsd:element>
      			<xsd:element name="in2" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getString2Response">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getInt">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getIntResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getStringRequest">
    <wsdl:part element="tns:getString" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getStringResponse">
    <wsdl:part element="tns:getStringResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getString2Request">
  	<wsdl:part name="parameters" element="tns:getString2"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getString2Response">
  	<wsdl:part name="parameters" element="tns:getString2Response"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIntRequest">
  	<wsdl:part name="parameters" element="tns:getInt"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIntResponse">
  	<wsdl:part name="parameters" element="tns:getIntResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStringRequest">
  	<wsdl:part name="parameters" element="tns:getString"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStringResponse">
  	<wsdl:part name="parameters" element="tns:getStringResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIntRequest">
  	<wsdl:part name="parameters" element="tns:getInt"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIntResponse">
  	<wsdl:part name="parameters" element="tns:getIntResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BService1PortType">
    <wsdl:operation name="getString">
      <wsdl:input message="tns:getStringRequest"/>
      <wsdl:output message="tns:getStringResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getString2">
    	<wsdl:input message="tns:getString2Request"></wsdl:input>
    	<wsdl:output message="tns:getString2Response"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInt">
    	<wsdl:input message="tns:getIntRequest"></wsdl:input>
    	<wsdl:output message="tns:getIntResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BService2PortType">
  	<wsdl:operation name="getString">
  		<wsdl:input message="tns:getStringRequest"></wsdl:input>
  		<wsdl:output message="tns:getStringResponse"></wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getInt">
  		<wsdl:input message="tns:getIntRequest"></wsdl:input>
  		<wsdl:output message="tns:getIntResponse"></wsdl:output>
  	</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BService1SOAPBinding"
  	type="tns:BService1PortType">  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />  	<wsdl:operation name="getString">  		<soap:operation
  			soapAction="http://vtest.wsbinding.wsdlelement.service.bservice/getString" />  		<wsdl:input>  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getString2">
  		<soap:operation
  			soapAction="http://vtest.wsbinding.wsdlelement.service.bservice/getString2" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getInt">
  		<soap:operation
  			soapAction="http://vtest.wsbinding.wsdlelement.service.bservice/getInt" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BService2SOAPBinding"
  	type="tns:BService2PortType">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="getString">
  		<soap:operation
  			soapAction="http://vtest.wsbinding.wsdlelement.service.bservice/getString" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getInt">
  		<soap:operation
  			soapAction="http://vtest.wsbinding.wsdlelement.service.bservice/getInt" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BService3SOAP12Binding"
  	type="tns:BService1PortType">
  	<soap12:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="getString">
  		<soap12:operation
  			soapAction="http://vtest.wsbinding.wsdlelement.service.bservice/getString" />
  		<wsdl:input>
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getString2">
  		<soap12:operation
  			soapAction="http://vtest.wsbinding.wsdlelement.service.bservice/getString2" />
  		<wsdl:input>
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getInt">
  		<soap12:operation
  			soapAction="http://vtest.wsbinding.wsdlelement.service.bservice/getInt" />
  		<wsdl:input>
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BService">
    <wsdl:port binding="tns:BService1SOAPBinding" name="BService1SOAP">
      <soap:address location=""/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="BService2">
  	<wsdl:port name="BService2Port" binding="tns:BService2SOAPBinding">
  		<soap:address location="" />
  	</wsdl:port>
  </wsdl:service>
  <wsdl:service name="BService3">
  	<wsdl:port name="BService3SOAP12" binding="tns:BService3SOAP12Binding">
            <soap12:address location=""></soap12:address>
        </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
