tutorials/travelsample/contributions/payment-java/src/main/resources/Payment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.    
-->
<wsdl:definitions name="Payment" 
                  targetNamespace="http://www.tuscanyscatours.com/Payment/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:tns="http://www.tuscanyscatours.com/Payment/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
                  xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                    targetNamespace="http://www.tuscanyscatours.com/Payment/"
                    xmlns:tns="http://www.tuscanyscatours.com/Payment/">

            <xsd:complexType name="MakePaymentMemberType">
                <xsd:sequence>
                    <xsd:element name="CustomerId" type="xsd:string"></xsd:element>
                    <xsd:element name="Amount" type="xsd:float"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>                    
            <xsd:element name="makePaymentMember" type="tns:MakePaymentMemberType"/>
      
            <xsd:complexType name="MakePaymentMemberResponseType">
                <xsd:sequence>
                    <xsd:element name="Status" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="makePaymentMemberResponse" type="tns:MakePaymentMemberResponseType"/>
            
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MakePaymentMemberRequest">
        <wsdl:part name="parameters" element="tns:makePaymentMember"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="MakePaymentMemberResponse">
        <wsdl:part name="parameters" element="tns:makePaymentMemberResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Payment">
        <wsdl:operation name="makePaymentMember">
            <wsdl:input message="tns:MakePaymentMemberRequest"></wsdl:input>
            <wsdl:output message="tns:MakePaymentMemberResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PaymentBinding" type="tns:Payment">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="makePaymentMember">
            <soap:operation soapAction="http://www.tuscanyscatours.com/Payment/makePayment" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PaymentService">
        <wsdl:port name="PaymentPort" binding="tns:PaymentBinding">
            <soap:address location="http://localhost:8083/Payment" />
        </wsdl:port>
    </wsdl:service>
    
   <plnk:partnerLinkType name="PaymentLinkType">
       <plnk:role name="forward" portType="tns:Payment"/>
   </plnk:partnerLinkType>
</wsdl:definitions>