services/bindings/binding.servicemix/src/test/resources/org/apache/servicemix/sca/bigbank/account/AccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.    
-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://sca.servicemix.apache.org/Bigbank/Account"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://sca.servicemix.apache.org/Bigbank/Account"
                  name="AccountService">

    <wsdl:types>
        <xsd:schema targetNamespace="http://sca.servicemix.apache.org/Bigbank/Account" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<xsd:element name="getAccountReportRequest" type="tns:AccountReportRequest"/>
            <xsd:complexType name="AccountReportRequest">
                <xsd:sequence>
            		<xsd:element name="CustomerID" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="getAccountReportResponse" type="tns:AccountReportResponse"/>

            <xsd:complexType name="AccountReportResponse">
            	<xsd:sequence>
            		<xsd:element name="AccountSummaries">
            			<xsd:complexType>
            				<xsd:sequence>
            			<xsd:element name="AccountSummary"
            				type="tns:AccountSummary" maxOccurs="unbounded" minOccurs="0"/>
            					</xsd:sequence>
            			</xsd:complexType>
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AccountSummary">
                <xsd:sequence>
                    <xsd:element name="AccountNumber" type="xsd:string"/>
                    <xsd:element name="AccountType" type="xsd:string"/>
                    <xsd:element name="Balance" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getAccountReportRequest">
        <wsdl:part element="tns:getAccountReportRequest" name="getAccountReportRequest"/>
    </wsdl:message>
    <wsdl:message name="getAccountReportResponse">
        <wsdl:part element="tns:getAccountReportResponse" name="getAccountReportResponse"/>
    </wsdl:message>
    <wsdl:portType name="AccountService">
        <wsdl:operation name="getAccountReport">
            <wsdl:input message="tns:getAccountReportRequest"/>
            <wsdl:output message="tns:getAccountReportResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AccountServiceJBI" type="tns:AccountService">
    </wsdl:binding>
    <wsdl:service name="AccountService">
        <wsdl:port binding="tns:AccountServiceJBI"
                   name="AccountServiceJBI">
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
