itest/ws-jaxws/external-client/src/main/resources/HelloWorldImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://jaxws.ws.binding.sca.tuscany.apache.org/" name="HelloWorldImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://jaxws.ws.binding.sca.tuscany.apache.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxws.ws.binding.sca.tuscany.apache.org/" schemaLocation="HelloWorldImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getGreetings">
    <part name="parameters" element="tns:getGreetings"/>
  </message>
  <message name="getGreetingsResponse">
    <part name="parameters" element="tns:getGreetingsResponse"/>
  </message>
  <message name="getGreetingsException">
    <part name="parameters" element="tns:getGreetingsException"/>
  </message>
  <message name="getGreetingsExceptionResponse">
    <part name="parameters" element="tns:getGreetingsExceptionResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="getGreetingsComplex">
    <part name="parameters" element="tns:getGreetingsComplex"/>
  </message>
  <message name="getGreetingsComplexResponse">
    <part name="parameters" element="tns:getGreetingsComplexResponse"/>
  </message>
  <portType name="HelloWorldImpl">
    <operation name="getGreetings">
      <input message="tns:getGreetings"/>
      <output message="tns:getGreetingsResponse"/>
    </operation>
    <operation name="getGreetingsException">
      <input message="tns:getGreetingsException"/>
      <output message="tns:getGreetingsExceptionResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getGreetingsComplex">
      <input message="tns:getGreetingsComplex"/>
      <output message="tns:getGreetingsComplexResponse"/>
    </operation>
  </portType>
  <binding name="HelloWorldImplPortBinding" type="tns:HelloWorldImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getGreetings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getGreetingsException">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getGreetingsComplex">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="HelloWorldImplService">
    <port name="HelloWorldImplPort" binding="tns:HelloWorldImplPortBinding">
      <soap:address location="http://localhost:8085/HelloWorldService/HelloWorld"/>
    </port>
  </service>
</definitions>



