contrib/modules/binding-ws-axis2/src/test/resources/org/apache/tuscany/sca/binding/ws/axis2/itests/questionmark-import-nested.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.    
-->
<wsdl:definitions targetNamespace="http://account3"
                  xmlns:tns="http://account3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	              name="questionmark-import-nested">

    <wsdl:types>
        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="http://account3"
                    xmlns:account="http://accounts"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:import namespace="http://accounts" schemaLocation="customerdefs.xsd" />

            <xsd:element name="getCustomerProfile">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="loginID" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getCustomerProfileResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerProfile"
                            type="account:CustomerProfileData" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getCustomerProfileRequest">
        <wsdl:part element="tns:getCustomerProfile" name="parameters" />
    </wsdl:message>

    <wsdl:message name="getCustomerProfileResponse">
        <wsdl:part element="tns:getCustomerProfileResponse" name="parameters" />
    </wsdl:message>

    <wsdl:portType name="Account">
        <wsdl:operation name="getCustomerProfile">
            <wsdl:input message="tns:getCustomerProfileRequest" name="getCustomerProfileRequest" />
            <wsdl:output message="tns:getCustomerProfileResponse" name="getCustomerProfileResponse" />
        </wsdl:operation>
    </wsdl:portType>

</wsdl:definitions>
