itest/databindings/jaxb-top-down/src/main/resources/wsdl/wrapped/hello-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    * Licensed to the Apache Software Foundation (ASF) under one
    * or more contributor license agreements.  See the NOTICE file
    * distributed with this work for additional information
    * regarding copyright ownership.  The ASF licenses this file
    * to you under the Apache License, Version 2.0 (the
    * "License"); you may not use this file except in compliance
    * with the License.  You may obtain a copy of the License at
    *
    *   http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing,
    * software distributed under the License is distributed on an
    * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    * KIND, either express or implied.  See the License for the
    * specific language governing permissions and limitations
    * under the License.
-->

<!-- $Rev$ $Date$ -->

<wsdl:definitions name="HelloService"
    targetNamespace="http://jaxb.databindings.itest.sca.tuscany.apache.org/"
    xmlns:tns="http://jaxb.databindings.itest.sca.tuscany.apache.org/"
    xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xs:schema targetNamespace="http://jaxb.dev.java.net/array"
            version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType final="#all" name="stringArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="item" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified"
            elementFormDefault="unqualified"
            targetNamespace="http://jaxb.databindings.itest.sca.tuscany.apache.org/"
            xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="getGreetingsArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0"
                            name="arg0" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGreetingsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return"
                            nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGreetingsVarArgs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0"
                            name="arg0" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGreetings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="arg0"
                            nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGreetingsVarArgsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return"
                            nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGreetingsArrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0"
                            name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getGreetingsArray">
        <wsdl:part name="getGreetingsArray"
            element="tns:getGreetingsArray">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getGreetingsResponse">
        <wsdl:part name="getGreetingsResponse"
            element="tns:getGreetingsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getGreetingsVarArgs">
        <wsdl:part name="getGreetingsVarArgs"
            element="tns:getGreetingsVarArgs">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getGreetings">
        <wsdl:part name="getGreetings" element="tns:getGreetings">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getGreetingsVarArgsResponse">
        <wsdl:part name="getGreetingsVarArgsResponse"
            element="tns:getGreetingsVarArgsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getGreetingsArrayResponse">
        <wsdl:part name="getGreetingsArrayResponse"
            element="tns:getGreetingsArrayResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HelloService">
        <wsdl:operation name="getGreetings">
            <wsdl:input message="tns:getGreetings"></wsdl:input>
            <wsdl:output message="tns:getGreetingsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGreetingsArray">
            <wsdl:input message="tns:getGreetingsArray"></wsdl:input>
            <wsdl:output message="tns:getGreetingsArrayResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGreetingsVarArgs">
            <wsdl:input message="tns:getGreetingsVarArgs">
            </wsdl:input>
            <wsdl:output message="tns:getGreetingsVarArgsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloServiceBinding" type="tns:HelloService">
        <soap11:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getGreetings">
            <soap11:operation />
            <wsdl:input>
                <soap11:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap11:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGreetingsArray">
            <soap11:operation />
            <wsdl:input>
                <soap11:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap11:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGreetingsVarArgs">
            <soap11:operation />
            <wsdl:input>
                <soap11:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap11:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloServiceService">
        <wsdl:port name="HelloServicePort"
            binding="tns:HelloServiceBinding">
            <soap11:address location="http://localhost:8085/hs-ep" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
