testing/itest/async-services/src/main/resources/TestInvocation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 * WSDL version of the client TestInvocation interface 
-->
<wsdl:definitions name="TestInvocationService" 
	targetNamespace="http://test.sca.oasisopen.org/" 
	xmlns:tns="http://test.sca.oasisopen.org/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
    	<xs:schema 
    		targetNamespace="http://test.sca.oasisopen.org/" version="1.0" 
    		xmlns:tns="http://test.sca.oasisopen.org/" 
    		xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="TestException" type="tns:TestException"/>
				<xs:complexType name="TestException">
					<xs:sequence>
						<xs:element minOccurs="0" name="message" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:schema>
    	<xs:schema attributeFormDefault="qualified" 
    		elementFormDefault="unqualified" 
    		targetNamespace="http://test.sca.oasisopen.org/" 
    		xmlns:xs="http://www.w3.org/2001/XMLSchema">
    		<xs:element name="invokeTest">
    			<xs:complexType>
    				<xs:sequence>
    					<xs:element minOccurs="0" name="arg0" nillable="true" type="xs:string"/>
    				</xs:sequence>
    			</xs:complexType>
    		</xs:element>
    		<xs:element name="invokeTestResponse">
    			<xs:complexType>
    				<xs:sequence>
    					<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
    				</xs:sequence>
    			</xs:complexType>
    		</xs:element>
    	</xs:schema>
	</wsdl:types>
  <wsdl:message name="invokeTest">
    <wsdl:part name="invokeTest" element="tns:invokeTest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invokeTestResponse">
    <wsdl:part name="parameters" element="tns:invokeTestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestException">
    <wsdl:part name="TestException" element="tns:TestException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TestInvocation">
    <wsdl:operation name="invokeTest">
      <wsdl:input message="tns:invokeTest">
    </wsdl:input>
      <wsdl:output message="tns:invokeTestResponse">
    </wsdl:output>
      <wsdl:fault name="TestException" message="tns:TestException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>