testing/itest/async-services/src/main/resources/TestClient.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<!-- Produced from the TestInvocation.java interface by running a service
     based on that interface in an SCA runtime using a Web services binding

     Mike Edwards, 6th January 2008
-->
<wsdl:definitions name="TestInvocationService" 
  targetNamespace="http://test.sca.oasisopen.org/" 
  xmlns:tns="http://test.sca.oasisopen.org/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:SOAP11="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:SOAP12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema targetNamespace="http://test.sca.oasisopen.org/" version="1.0" 
       xmlns:tns="http://test.sca.oasisopen.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="TestException" type="tns:TestException"/>
      <xs:complexType name="TestException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" 
      targetNamespace="http://test.sca.oasisopen.org/" 
      xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="invokeTest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="arg0" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="invokeTestResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="invokeTest">
    <wsdl:part name="parameters" element="tns:invokeTest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="invokeTestResponse">
    <wsdl:part name="parameters" element="tns:invokeTestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestException">
    <wsdl:part name="TestException" element="tns:TestException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TestInvocation">
    <wsdl:operation name="invokeTest">
      <wsdl:input message="tns:invokeTest">
    </wsdl:input>
      <wsdl:output message="tns:invokeTestResponse">
    </wsdl:output>
      <wsdl:fault name="TestException" message="tns:TestException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <!-- Binding for Service1 that uses SOAP v1.1 protocol -->
  <wsdl:binding name="TestInvocationBinding" type="tns:TestInvocation">
    <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="invokeTest">
      <SOAP:operation soapAction=""/>
      <wsdl:input>
        <SOAP:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <SOAP:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TestException">
        <SOAP:fault name="TestException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <!-- Binding for Service1 that uses SOAP v1.2 protocol -->
  <wsdl:binding name="TestInvocationBindingSOAP12" type="tns:TestInvocation">
    <SOAP12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="invokeTest">
      <SOAP12:operation soapAction=""/>
      <wsdl:input>
        <SOAP12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <SOAP12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TestException">
        <SOAP12:fault name="TestException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="TestInvocationService">
    <wsdl:port name="TestInvocationPort" binding="tns:TestInvocationBinding">
      <SOAP:address location="http://localhost:8080/TestClient/TestInvocation"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="TestInvocationServiceSOAP12">
    <wsdl:port name="TestInvocationPortSOAP12" binding="tns:TestInvocationBindingSOAP12">
      <SOAP12:address location="http://localhost:8080/TestClient/TestInvocation"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
