samples/calculator-webapp-ws/src/main/resources/wsdl/add.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.    
-->
<wsdl:definitions targetNamespace="http://calculator" 
                  xmlns:tns="http://calculator" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	              name="add">

    <wsdl:types>
        <schema elementFormDefault="qualified" 
                 targetNamespace="http://calculator" 
                 xmlns="http://www.w3.org/2001/XMLSchema">

            <element name="add">
                <complexType>
                    <sequence>
                        <element name="n1" type="xsd:double"/>
                        <element name="n2" type="xsd:double"/>
                    </sequence>
                </complexType>
            </element>

            <element name="addResponse">
                <complexType>
                    <sequence>
                        <element name="response" type="xsd:double"/>
                    </sequence>
                </complexType>
            </element>
            
        </schema>
    </wsdl:types>

    <wsdl:message name="addRequest">
        <wsdl:part element="tns:add" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="addResponse">
        <wsdl:part element="tns:addResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="Add">
        <wsdl:operation name="add">
            <wsdl:input message="tns:addRequest" name="addRequest"/>
            <wsdl:output message="tns:addResponse" name="addResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AddSoapBinding" type="tns:Add">
        <wsdlsoap:binding style="document" 
                          transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="addRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="AddService">
        <wsdl:port binding="tns:AddSoapBinding" name="AddSoapPort">
            <wsdlsoap:address location="http://localhost:8080/sample-calculator-webapp-ws/services/AddService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
