contrib/samples/helloworld-ws-service/src/main/resources/wsdl/orderservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/OrderService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://www.example.org/OrderService/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/OrderService/">
            <xsd:complexType name="order">
                <xsd:sequence>
                    <xsd:element name="customerId" type="xsd:string"    minOccurs="0" />
                    <xsd:element name="status" type="tns:status" minOccurs="0" />
                    <xsd:element name="total" type="xsd:double" />
                    <xsd:element name="orderId" type="xsd:int" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:simpleType name="status">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Created" />
                    <xsd:enumeration value="Submitted" />
                    <xsd:enumeration value="Approved" />
                    <xsd:enumeration value="Rejected" />
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:element name="reviewOrder">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="myData" type="tns:order"
                            minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="reviewOrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="myData" type="tns:order"
                            minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="reviewOrderRequest">
        <wsdl:part element="tns:reviewOrder" name="myParameters"/>
    </wsdl:message>
    <wsdl:message name="reviewOrderResponse">
        <wsdl:part element="tns:reviewOrderResponse" name="myResult"/>
    </wsdl:message>
    <wsdl:portType name="OrderService">
        <wsdl:operation name="reviewOrder">
            <wsdl:input message="tns:reviewOrderRequest"/>
            <wsdl:output message="tns:reviewOrderResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrderServiceSOAP" type="tns:OrderService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="reviewOrder">
            <soap:operation soapAction="http://www.example.org/OrderService/reviewOrder"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrderService">
        <wsdl:port binding="tns:OrderServiceSOAP" name="OrderServiceSOAP">
            <soap:address location="http://www.example.org/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
