testing/itest/ws/wsdlgen/src/main/resources/jaxws/wsgen/wsdl/HelloWorldImplService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://wahooo/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="fBean">
    <xs:sequence>
      <xs:element name="field1" type="xs:string" minOccurs="0"/>
      <xs:element name="field2" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

