modules/binding-ws-xml/src/test/resources/org/apache/tuscany/binding/ws/xml/unwrapped-stockquote.wsdl

<?xml version="1.0"?>
<definitions name="StockQuote" targetNamespace="http://example.com/stockquote.wsdl"
    xmlns:tns="http://example.com/stockquote.wsdl" xmlns:xsd1="http://example.com/stockquote.xsd"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <schema targetNamespace="http://example.com/stockquote.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getLastTradePrice">
                <complexType>
                    <sequence>
                        <element name="tickerSymbol" type="string" />
                    </sequence>
                </complexType>
            </element>
            <element name="getLastTradePriceResponse">
                <complexType>
                    <sequence>
                        <element name="price" type="float" />
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>

    <message name="GetLastTradePriceInput1">
        <part name="body" element="xsd1:getLastTradePrice" />
    </message>

    <message name="GetLastTradePriceOutput1">
        <part name="body" element="xsd1:getLastTradePriceResponse" />
    </message>

    <message name="GetLastTradePriceInput2">
        <part name="body" element="xsd1:getLastTradePrice" />
        <part name="other" type="xsd:string"/>
    </message>

    <message name="GetLastTradePriceOutput2">
        <part name="body" element="xsd1:getLastTradePriceResponse" />
    </message>
    
    <portType name="StockQuotePortType">
        <operation name="getLastTradePrice">
            <input message="tns:GetLastTradePriceInput1" />
            <output message="tns:GetLastTradePriceOutput1" />
        </operation>
        <operation name="getLastTradePrice1">
            <input message="tns:GetLastTradePriceInput1" />
            <output message="tns:GetLastTradePriceOutput1" />
        </operation>
        <operation name="getLastTradePrice2">
            <input message="tns:GetLastTradePriceInput2" />
            <output message="tns:GetLastTradePriceOutput2" />
        </operation>
    </portType>

</definitions>