itest/promotion-interface-missmatch/src/main/resources/wsdl/ExampleServiceTypes.xsd

<!--schema xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
		targetNamespace="/model/common/types/"
        xmlns:tns="/model/common/types/"
		xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
		xmlns:ns1="/model/common/"-->

        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		           xmlns:ns="/model/common/"
				   attributeFormDefault="qualified"
				   elementFormDefault="qualified"
                   xmlns:tns="/model/common/types/"
				   targetNamespace="/model/common/types/">
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="hello">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="helloResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
