modules/node-impl/src/test/resources/nodeA/wsdl/multiply.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.    
-->
<wsdl:definitions targetNamespace="http://calculator/multiply" 
                  xmlns:tns="http://calculator/multiply" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	              name="multiply">

    <wsdl:types>
        <schema elementFormDefault="qualified" 
                 targetNamespace="http://calculator/multiply" 
                 xmlns="http://www.w3.org/2001/XMLSchema">

            <element name="multiply">
                <complexType>
                    <sequence>
                        <element name="n1" type="xsd:double"/>
                        <element name="n2" type="xsd:double"/>
                    </sequence>
                </complexType>
            </element>

            <element name="multiplyResponse">
                <complexType>
                    <sequence>
                        <element name="response" type="xsd:double"/>
                    </sequence>
                </complexType>
            </element>
            
        </schema>
    </wsdl:types>

    <wsdl:message name="multiplyRequest">
        <wsdl:part element="tns:multiply" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="multiplyResponse">
        <wsdl:part element="tns:multiplyResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="Multiply">
        <wsdl:operation name="multiply">
            <wsdl:input message="tns:multiplyRequest" name="multiplyRequest"/>
            <wsdl:output message="tns:multiplyResponse" name="multiplyResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="MultiplySoapBinding" type="tns:Multiply">
        <wsdlsoap:binding style="document" 
                          transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="multiply">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="multiplyRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="multiplyResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

</wsdl:definitions>
