modules/node-impl/src/test/resources/nodeA/wsdl/subtract.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.    
-->
<wsdl:definitions targetNamespace="http://calculator/subtract" 
                  xmlns:tns="http://calculator/subtract" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	              name="subtract">

    <wsdl:types>
        <schema elementFormDefault="qualified" 
                 targetNamespace="http://calculator/subtract" 
                 xmlns="http://www.w3.org/2001/XMLSchema">

            <element name="subtract">
                <complexType>
                    <sequence>
                        <element name="n1" type="xsd:double"/>
                        <element name="n2" type="xsd:double"/>
                    </sequence>
                </complexType>
            </element>

            <element name="subtractResponse">
                <complexType>
                    <sequence>
                        <element name="response" type="xsd:double"/>
                    </sequence>
                </complexType>
            </element>
            
        </schema>
    </wsdl:types>

    <wsdl:message name="subtractRequest">
        <wsdl:part element="tns:subtract" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="subtractResponse">
        <wsdl:part element="tns:subtractResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="Subtract">
        <wsdl:operation name="subtract">
            <wsdl:input message="tns:subtractRequest" name="subtractRequest"/>
            <wsdl:output message="tns:subtractResponse" name="subtractResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SubtractSoapBinding" type="tns:Subtract">
        <wsdlsoap:binding style="document" 
                          transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="subtract">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="subtractRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="subtractResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="SubtractService">
        <wsdl:port binding="tns:SubtractSoapBinding" name="SubtractSoapPort">
            <wsdlsoap:address location="http://localhost:8088/SubtractServiceComponent"/>            
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
