samples/implementation-extension/src/test/resources/Hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    * Licensed to the Apache Software Foundation (ASF) under one
    * or more contributor license agreements.  See the NOTICE file
    * distributed with this work for additional information
    * regarding copyright ownership.  The ASF licenses this file
    * to you under the Apache License, Version 2.0 (the
    * "License"); you may not use this file except in compliance
    * with the License.  You may obtain a copy of the License at
    * 
    *   http://www.apache.org/licenses/LICENSE-2.0
    * 
    * Unless required by applicable law or agreed to in writing,
    * software distributed under the License is distributed on an
    * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    * KIND, either express or implied.  See the License for the
    * specific language governing permissions and limitations
    * under the License.    
-->
<wsdl:definitions targetNamespace="http://sample" xmlns:tns="http://sample"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="Hello">

    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://sample"
            xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="hello">
                <complexType>
                    <sequence>
                        <element name="name" type="xsd:string" />
                    </sequence>
                </complexType>
            </element>

            <element name="helloResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="xsd:string" />
                    </sequence>
                </complexType>
            </element>

        </schema>
    </wsdl:types>

    <wsdl:message name="helloRequest">
        <wsdl:part element="tns:hello" name="parameters" />
    </wsdl:message>

    <wsdl:message name="helloResponse">
        <wsdl:part element="tns:helloResponse" name="parameters" />
    </wsdl:message>

    <wsdl:portType name="Hello">
        <wsdl:operation name="hello">
            <wsdl:input message="tns:helloRequest" name="helloRequest" />
            <wsdl:output message="tns:helloResponse" name="helloResponse" />
        </wsdl:operation>
    </wsdl:portType>

</wsdl:definitions>
