databinding/sdo/src/test/resources/org/apache/tuscany/databinding/sdo/CreditScoreDocLitWrapped.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/creditscore/doclitwrapped/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreditScore"
	targetNamespace="http://www.example.org/creditscore/doclitwrapped/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.example.org/creditscore/doclitwrapped/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="getCreditScoreResponse">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="score" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>			
			</xsd:element>
			<xsd:element name="getCreditScore">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="ssn" type="xsd:string" />
					<xsd:element name="firstName" type="xsd:string" />
					<xsd:element name="lastName" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getCreditScoreResponse">
		<wsdl:part element="tns:getCreditScoreResponse"
			name="getCreditScoreResponse" />
	</wsdl:message>
	<wsdl:message name="getCreditScoreRequest">
		<wsdl:part element="tns:getCreditScore"
			name="getCreditScoreRequest" />
	</wsdl:message>
	<wsdl:portType name="CreditScoreDocLitWrapped">
		<wsdl:operation name="getCreditScore">
			<wsdl:input message="tns:getCreditScoreRequest" />
			<wsdl:output message="tns:getCreditScoreResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CreditScoreDocLitWrappedSOAP" type="tns:CreditScoreDocLitWrapped">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getCreditScore">
			<soap:operation
				soapAction="http://www.example.org/creditscore/doclitwrapped/getCreditScore" />
			<wsdl:input>
				<soap:body parts="getCreditScoreRequest" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="getCreditScoreResponse" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CreditScore">
		<wsdl:port binding="tns:CreditScoreDocLitWrappedSOAP"
			name="CreditScoreDocLitWrappedSOAP">
			<soap:address location="http://localhost:8080/CreditScoreService/services/CreditScoreDocLitWrappedSOAP"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
