tutorial/amazon/amazon/cart/AmazonCart.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    * Licensed to the Apache Software Foundation (ASF) under one
    * or more contributor license agreements.  See the NOTICE file
    * distributed with this work for additional information
    * regarding copyright ownership.  The ASF licenses this file
    * to you under the Apache License, Version 2.0 (the
    * "License"); you may not use this file except in compliance
    * with the License.  You may obtain a copy of the License at
    * 
    *   http://www.apache.org/licenses/LICENSE-2.0
    * 
    * Unless required by applicable law or agreed to in writing,
    * software distributed under the License is distributed on an
    * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    * KIND, either express or implied.  See the License for the
    * specific language governing permissions and limitations
    * under the License.    
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://amazon.cart.com/" targetNamespace="http://amazon.cart.com/">
	<types>
		<xs:schema targetNamespace="http://amazon.cart.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://amazon.cart.com/" elementFormDefault="qualified">
			<xs:element name="CartGet">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MarketplaceDomain" type="xs:string" minOccurs="0"/>
						<xs:element name="AWSAccessKeyId" type="xs:string" minOccurs="0"/>
						<xs:element name="SubscriptionId" type="xs:string" minOccurs="0"/>
						<xs:element name="AssociateTag" type="xs:string" minOccurs="0"/>
						<xs:element name="Validate" type="xs:string" minOccurs="0"/>
						<xs:element name="XMLEscaping" type="xs:string" minOccurs="0"/>
						<xs:element name="Shared" type="tns:CartGetRequest" minOccurs="0"/>
						<xs:element name="Request" type="tns:CartGetRequest" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="CartGetRequest">
				<xs:sequence>
					<xs:element name="CartId" type="xs:string" minOccurs="0"/>
					<xs:element name="HMAC" type="xs:string" minOccurs="0"/>
					<xs:element name="MergeCart" type="xs:string" minOccurs="0"/>
					<xs:element name="ResponseGroup" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CartAdd">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MarketplaceDomain" type="xs:string" minOccurs="0"/>
						<xs:element name="AWSAccessKeyId" type="xs:string" minOccurs="0"/>
						<xs:element name="SubscriptionId" type="xs:string" minOccurs="0"/>
						<xs:element name="AssociateTag" type="xs:string" minOccurs="0"/>
						<xs:element name="Validate" type="xs:string" minOccurs="0"/>
						<xs:element name="XMLEscaping" type="xs:string" minOccurs="0"/>
						<xs:element name="Shared" type="tns:CartAddRequest" minOccurs="0"/>
						<xs:element name="Request" type="tns:CartAddRequest" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="CartAddRequest">
				<xs:sequence>
					<xs:element name="CartId" type="xs:string" minOccurs="0"/>
					<xs:element name="HMAC" type="xs:string" minOccurs="0"/>
					<xs:element name="MergeCart" type="xs:string" minOccurs="0"/>
					<xs:element name="Items" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ASIN" type="xs:string" minOccurs="0"/>
											<xs:element name="OfferListingId" type="xs:string" minOccurs="0"/>
											<xs:element name="Quantity" type="xs:positiveInteger" minOccurs="0"/>
											<xs:element name="AssociateTag" type="xs:string" minOccurs="0"/>
											<xs:element name="ListItemId" type="xs:string" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ResponseGroup" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CartCreate">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MarketplaceDomain" type="xs:string" minOccurs="0"/>
						<xs:element name="AWSAccessKeyId" type="xs:string" minOccurs="0"/>
						<xs:element name="SubscriptionId" type="xs:string" minOccurs="0"/>
						<xs:element name="AssociateTag" type="xs:string" minOccurs="0"/>
						<xs:element name="Validate" type="xs:string" minOccurs="0"/>
						<xs:element name="XMLEscaping" type="xs:string" minOccurs="0"/>
						<xs:element name="Shared" type="tns:CartCreateRequest" minOccurs="0"/>
						<xs:element name="Request" type="tns:CartCreateRequest" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="CartCreateRequest">
				<xs:sequence>
					<xs:element name="MergeCart" type="xs:string" minOccurs="0"/>
					<xs:element name="Items" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ASIN" type="xs:string" minOccurs="0"/>
											<xs:element name="OfferListingId" type="xs:string" minOccurs="0"/>
											<xs:element name="Quantity" type="xs:positiveInteger" minOccurs="0"/>
											<xs:element name="AssociateTag" type="xs:string" minOccurs="0"/>
											<xs:element name="ListItemId" type="xs:string" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ResponseGroup" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CartClear">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MarketplaceDomain" type="xs:string" minOccurs="0"/>
						<xs:element name="AWSAccessKeyId" type="xs:string" minOccurs="0"/>
						<xs:element name="SubscriptionId" type="xs:string" minOccurs="0"/>
						<xs:element name="AssociateTag" type="xs:string" minOccurs="0"/>
						<xs:element name="Validate" type="xs:string" minOccurs="0"/>
						<xs:element name="XMLEscaping" type="xs:string" minOccurs="0"/>
						<xs:element name="Shared" type="tns:CartClearRequest" minOccurs="0"/>
						<xs:element name="Request" type="tns:CartClearRequest" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="CartClearRequest">
				<xs:sequence>
					<xs:element name="CartId" type="xs:string" minOccurs="0"/>
					<xs:element name="HMAC" type="xs:string" minOccurs="0"/>
					<xs:element name="MergeCart" type="xs:string" minOccurs="0"/>
					<xs:element name="ResponseGroup" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CartGetResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:OperationRequest" minOccurs="0"/>
						<xs:element ref="tns:Cart" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CartAddResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:OperationRequest" minOccurs="0"/>
						<xs:element ref="tns:Cart" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CartCreateResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:OperationRequest" minOccurs="0"/>
						<xs:element ref="tns:Cart" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CartClearResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:OperationRequest" minOccurs="0"/>
						<xs:element ref="tns:Cart" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Cart">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:Request" minOccurs="0"/>
						<xs:element name="CartId" type="xs:string"/>
						<xs:element name="HMAC" type="xs:string"/>
						<xs:element name="URLEncodedHMAC" type="xs:string"/>
						<xs:element name="PurchaseURL" type="xs:string" minOccurs="0"/>
						<xs:element name="SubTotal" type="tns:Price" minOccurs="0"/>
						<xs:element ref="tns:CartItems" minOccurs="0"/>
						<xs:element ref="tns:SavedForLaterItems" minOccurs="0"/>
						<xs:element ref="tns:SimilarProducts" minOccurs="0"/>
						<xs:element ref="tns:TopSellers" minOccurs="0"/>
						<xs:element ref="tns:NewReleases" minOccurs="0"/>
						<xs:element ref="tns:SimilarViewedProducts" minOccurs="0"/>
						<xs:element ref="tns:OtherCategoriesSimilarProducts" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SavedForLaterItems">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubTotal" type="tns:Price" minOccurs="0"/>
						<xs:element name="SavedForLaterItem" type="tns:CartItem" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SimilarProducts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SimilarProduct" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ASIN" type="xs:string" minOccurs="0"/>
									<xs:element name="Title" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TopSellers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TopSeller" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ASIN" type="xs:string" minOccurs="0"/>
									<xs:element name="Title" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NewReleases">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NewRelease" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ASIN" type="xs:string" minOccurs="0"/>
									<xs:element name="Title" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SimilarViewedProducts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SimilarViewedProduct" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ASIN" type="xs:string" minOccurs="0"/>
									<xs:element name="Title" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OtherCategoriesSimilarProducts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OtherCategoriesSimilarProduct" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ASIN" type="xs:string" minOccurs="0"/>
									<xs:element name="Title" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CartItems">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubTotal" type="tns:Price" minOccurs="0"/>
						<xs:element name="CartItem" type="tns:CartItem" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OperationRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:HTTPHeaders" minOccurs="0"/>
						<xs:element name="RequestId" type="xs:string" minOccurs="0"/>
						<xs:element ref="tns:Arguments" minOccurs="0"/>
						<xs:element ref="tns:Errors" minOccurs="0"/>
						<xs:element name="RequestProcessingTime" type="xs:float" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CartGetRequest" type="tns:CartGetRequest" minOccurs="0"/>
						<xs:element name="CartAddRequest" type="tns:CartAddRequest" minOccurs="0"/>
						<xs:element name="CartCreateRequest" type="tns:CartCreateRequest" minOccurs="0"/>
						<xs:element name="CartClearRequest" type="tns:CartClearRequest" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Arguments">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Argument" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="Name" type="xs:string" use="required"/>
								<xs:attribute name="Value" type="xs:string"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Errors">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Error" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Code" type="xs:string"/>
									<xs:element name="Message" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HTTPHeaders">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Header" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="Name" type="xs:string" use="required"/>
								<xs:attribute name="Value" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="CartItem">
				<xs:sequence>
					<xs:element name="CartItemId" type="xs:string"/>
					<xs:element name="ASIN" type="xs:string" minOccurs="0"/>
					<xs:element name="ExchangeId" type="xs:string" minOccurs="0"/>
					<xs:element name="MerchantId" type="xs:string" minOccurs="0"/>
					<xs:element name="SellerId" type="xs:string" minOccurs="0"/>
					<xs:element name="SellerNickname" type="xs:string" minOccurs="0"/>
					<xs:element name="Quantity" type="xs:string"/>
					<xs:element name="Title" type="xs:string" minOccurs="0"/>
					<xs:element name="ProductGroup" type="xs:string" minOccurs="0"/>
					<xs:element name="ListOwner" type="xs:string" minOccurs="0"/>
					<xs:element name="ListType" type="xs:string" minOccurs="0"/>
					<xs:element name="Price" type="tns:Price" minOccurs="0"/>
					<xs:element name="ItemTotal" type="tns:Price" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Price">
				<xs:sequence>
					<xs:element name="Amount" type="xs:integer" minOccurs="0"/>
					<xs:element name="CurrencyCode" type="xs:string" minOccurs="0"/>
					<xs:element name="FormattedPrice" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="CartGetRequestMsg">
		<part name="body" element="tns:CartGet"/>
	</message>
	<message name="CartGetResponseMsg">
		<part name="body" element="tns:CartGetResponse"/>
	</message>
	<message name="CartAddRequestMsg">
		<part name="body" element="tns:CartAdd"/>
	</message>
	<message name="CartAddResponseMsg">
		<part name="body" element="tns:CartAddResponse"/>
	</message>
	<message name="CartCreateRequestMsg">
		<part name="body" element="tns:CartCreate"/>
	</message>
	<message name="CartCreateResponseMsg">
		<part name="body" element="tns:CartCreateResponse"/>
	</message>
	<message name="CartClearRequestMsg">
		<part name="body" element="tns:CartClear"/>
	</message>
	<message name="CartClearResponseMsg">
		<part name="body" element="tns:CartClearResponse"/>
	</message>
	<portType name="AmazonCartServicePortType">
		<operation name="CartGet">
			<input message="tns:CartGetRequestMsg"/>
			<output message="tns:CartGetResponseMsg"/>
		</operation>
		<operation name="CartAdd">
			<input message="tns:CartAddRequestMsg"/>
			<output message="tns:CartAddResponseMsg"/>
		</operation>
		<operation name="CartCreate">
			<input message="tns:CartCreateRequestMsg"/>
			<output message="tns:CartCreateResponseMsg"/>
		</operation>
		<operation name="CartClear">
			<input message="tns:CartClearRequestMsg"/>
			<output message="tns:CartClearResponseMsg"/>
		</operation>
	</portType>
	<binding name="AmazonCartServiceBinding" type="tns:AmazonCartServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CartGet">
			<soap:operation soapAction="http://soap.amazon.cart.com"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CartCreate">
			<soap:operation soapAction="http://soap.amazon.cart.com"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CartAdd">
			<soap:operation soapAction="http://soap.amazon.cart.com"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CartClear">
			<soap:operation soapAction="http://soap.amazon.cart.com"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="AmazonCartService">
		<port name="AmazonCartServicePort" binding="tns:AmazonCartServiceBinding">
			<soap:address location="http://localhost:8080/AmazonCartServiceComponent"/>
		</port>
	</service>
</definitions>
