modules/common-xml/src/test/resources/org/apache/tuscany/sca/common/xml/stax/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.    
-->
<wsdl:definitions name="TestDefinition" 
    targetNamespace="http://www.example.org/test/wsdl" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.example.org/test/wsdl"
    xmlns:xsd1="http://www.example.org/test/xsd1" 
    xmlns:xsd2="http://www.example.org/test/xsd2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/test/xsd1">
            <xsd:element name="test">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="in" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="testResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema targetNamespace="http://www.example.org/test/xsd2">
            <xsd:element name="test2" type="xsd:string"></xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="testRequest">
        <wsdl:part name="parameters" element="xsd1:test"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="testResponse">
        <wsdl:part name="parameters" element="xsd1:testResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Test">
        <wsdl:operation name="test">
            <wsdl:input message="tns:testRequest"></wsdl:input>
            <wsdl:output message="tns:testResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
