samples/extending-tuscany/implementation-sample/src/test/resources/Upper-async-bare.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    * Licensed to the Apache Software Foundation (ASF) under one
    * or more contributor license agreements.  See the NOTICE file
    * distributed with this work for additional information
    * regarding copyright ownership.  The ASF licenses this file
    * to you under the Apache License, Version 2.0 (the
    * "License"); you may not use this file except in compliance
    * with the License.  You may obtain a copy of the License at
    * 
    *   http://www.apache.org/licenses/LICENSE-2.0
    * 
    * Unless required by applicable law or agreed to in writing,
    * software distributed under the License is distributed on an
    * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    * KIND, either express or implied.  See the License for the
    * specific language governing permissions and limitations
    * under the License.    
-->
<wsdl:definitions targetNamespace="http://sample/upper-async-bare" 
                  xmlns:tns="http://sample/upper-async-bare"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:sca="http://docs.oasis-open.org/ns/opencsa/sca/200912"
	              name="UpperAsyncBare">

    <wsdl:types>
        <schema elementFormDefault="qualified" 
                targetNamespace="http://sample/upper-async-bare"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="arg0" type="xsd:string" />
            <element name="arg1" type="xsd:string" />

            <element name="result" type="xsd:string" />
        </schema>
    </wsdl:types>

    <wsdl:message name="upperRequest">
        <wsdl:part element="tns:arg0" name="arg0" />
        <wsdl:part element="tns:arg1" name="arg1" />
    </wsdl:message>

    <wsdl:message name="upperResponse">
        <wsdl:part element="tns:result" name="result" />
    </wsdl:message>

    <wsdl:portType name="UpperBare" sca:requires="sca:asyncInvocation">
        <wsdl:operation name="upper">
            <wsdl:input message="tns:upperRequest" name="upperRequest" />
            <wsdl:output message="tns:upperResponse" name="upperResponse" />
        </wsdl:operation>
    </wsdl:portType>

</wsdl:definitions>
